.header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f2f4f7;; 
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  position: relative;
}


.logo {
  display: block;
  height: 16px;
  width: 136px; 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.navigation {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 32px;

}

.navigationLink {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
  padding: 24px 0;
  transition: color 0.2s ease-in-out;
}


.navigationLink.active,
.navigationLink:hover {
  color: #d84343;
}

