.hero {
  padding: 260px 0;
  background-image: url(/images/hero1x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  width: 100%;
}

@media (min-resolution: 2dppx) {
  .hero {
    background-image: url(/images/hero2x.webp);
  }
}

.heroTitle {
font-weight: 600;
font-size: 48px;
line-height: 0.67;
color: #f7f7f7;
margin-bottom: 16px;
}

.heroText {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: #f7f7f7;
  margin-bottom: 40px;
}

.heroButton {
display: inline-block;
border-radius: 200px;
padding: 16px 60px;
min-width: 196px;
background-color: #e44848;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.01em;
color: #fff;

transition: color 0.2s ease-in-out;
}

.heroButton:hover,
.heroButton:focus {
  background-color: #d84343;
}