.container {
    display: flex;
    gap: 64px; /* Великий відступ між фільтрами та списком */
    padding: 40px;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .filters {
    width: 360px; /* Фіксована ширина для колонки з фільтрами */
    flex-shrink: 0;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    gap: 32px; /* Відступ між картками */
    flex-grow: 1;
  }
  