.truckContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 24px;
  
    max-width: 335px;
    border: 1px solid #dadde1;
    border-radius: 20px;
    padding: 24px;
}


.title {
font-weight: 600;
font-size: 24px;
line-height: 1.33333;
color: #101828;
}

